// Index Style

//Header style

.main-header{
    background-color: $backgroundColor;
    margin: 0;
    margin-top: -5rem;
    video{
        width: 100%;
    }
}

.header-mobile{
    display: none;
    height: 100%;
    margin-bottom: 2rem;
    img{
        width: 100%;
    }
}

// Main Style

.main-body{
    margin: 3rem;
    margin-top: 0;
}

.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.product-container-reverse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    h1{
        font-family: $mainFont;
        font-size: 4.5em;
        letter-spacing: -0.005em;
        line-height: 1em;
    }
    h2{
        font-family: $mainFont;
        font-size: 4.5em;
        letter-spacing: -0.005em;
        line-height: 1em;
    }
    h3{
        font-family: $secondaryFont;
        font-size: 1.5em;
        font-weight: 400;
    }
}

.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
        width: 100%;
    }
}

// Index Responsive

@media (max-width: 1000px){
    .product-info{
        gap: 1rem;
        h1{
            font-size: 4rem;
        }
        h3{
            font-size: 1.25rem;
        }
    }
    .product-container{
        margin-bottom: 4rem;
    }
    .product-container-reverse{
        margin-bottom: 4rem;
    }
}

@media (max-width: 700px){ 
    .main-header{
        display: block;
    }

    .product-container-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 3rem;
    }

    .product-container{
        display: flex;
        flex-direction: column;
    }

    .product-info{
        align-items: center;
        h1{
            font-size: 4.5rem;
            text-align: center;
        }
        h2{
            font-size: 4.5rem;
            text-align: center;
        }
        h3{
            text-align: center;
        }
    }

    .product-img{
        margin-top: 1.5rem;
        img{
            max-width: 500px;
        }
    }
    
    .img-2{
        img{
            display: none;
        }
    }

    .img-4{
        img{
            display: none;
        }
    }
}

@media (max-width:650px){
    .main-header{
        display: none;
    }

    .header-mobile{
        display: block;
    }
}

// 438px BreackPoint

@media (max-width: 438px){
    .product-info{
        h1{
            font-size: 3.75rem;
        }
        h2{
            font-size: 3.75rem;
        }
    }
}


// Img Animation 

.img-2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    img{
        opacity: 0%;
        width: 70%;
    }
}

.img-2:hover{
    img{
        opacity: 100%;
        transition: all .5s;
    }
}

.img-2:not(hover){
    img{
        opacity: 0%;
        transition: all .5s;
    }
}

// // // // // // // // 

.img-4{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    img{
        opacity: 0%;
        width: 70%;
    }
}

.img-4:hover{
    img{
        opacity: 100%;
        transition: all .5s;
    }
}

.img-4:not(hover){
    img{
        opacity: 0%;
        transition: all .5s;
    }
}

.hide{
    opacity: 0%;
    transition: all .5s;
}

.no-hide{
    opacity: 100%;
    transition: all .5s;
}