.header-pc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    video{
        width: 90%;
    }
}

.header-mobile{
    margin-bottom: 5rem;
    width: 100%;
    img{
        width: 100%;
    }
}

.pag{
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.pag-reverse{
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-family: $mainFont;
        font-size: 2.5em;
        letter-spacing: -0.005em;
        line-height: 1em;
        text-align: center;
    }
    h2{
        font-family: $mainFont;
        font-size: 2.5em;
        letter-spacing: -0.005em;
        line-height: 1em;
        text-align: center;
    }
    h3{
        font-family: $secondaryFont;
        font-size: 1.2em;
        font-weight: 400;
        padding: 1rem;
        text-align: center;
    }
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 80%;
        max-width: 400px;
    }
}

@media(max-width:1000px){
    
    .img-2{
        display: none;
    }

    .img-4{
        display: none;
    }
}


// Breackpoint 540px
@media (max-width:999px){
    .header-pc{
        display: none;
    }
}

@media (min-width: 540px){
    .info{
        h1{
            font-size: 4.5rem;
        }
        h2{
            font-size: 4.5rem;
        }
        h3{
            font-size: 1.5rem;
        }
    }
    .img{
        img{
            max-width: 600px;
        }
    }
    .nav{
        a{
            img{
                max-width: 400px;
            }
        }
    }
}

// Breackpoint 1000px

@media (min-width: 1000px){
    .pag{
        flex-direction: row;
        margin-top: 0;
        padding: 3rem;
    }
    .pag-reverse{
        flex-direction: row-reverse;
        margin-top: 0;
        padding: 3rem;
    }
    .info{
        width: 50%;
        align-items: start;
        gap: 1rem;
        h1{
            text-align: start;
            font-size: 4.5rem;
        }
        h2{
            text-align: start;
            font-size: 4.5rem;
        }
        h3{
            text-align: start;
            font-size: 1.5rem;
            padding: 0;
        }
    }
    .img{
        width: 50%;
        img{
            max-width: 700px;
        }
    }
    .header-mobile{
        display: none;
    }
}

.img-centrada{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    img{
        width: 65%;
    }
}

.img-2{
    opacity: 0%;
    transition: all 1s;
}

.img-4{
    opacity: 0%;
    transition: all 1s;
}
