//Colors
$mainColor: rgb(248, 177, 57); 
$BlueColor: rgb(100, 97, 165);
$RedColor: rgb(195, 58, 46);
$GreenColor: rgb(84, 173, 114);
$SkyBlueColor: rgb(0, 127, 197);
$keyColor: black;
$backgroundColor:rgb(255, 251, 240);
$navBackgroundColor: rgba(255, 251, 240, 0.856);  

//Fonts
$mainFont: 'Outfit', sans-serif;
$secondaryFont: 'Montserrat', sans-serif; 
